<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Modify</title>
  <link rel="stylesheet" th:href="@{/css/user/modify.css}" />
</head>
<body>
<div th:replace="common/nav.html :: nav"></div>

<div class="main-container">
  <div>
    <form action="/user/modfiy" method="post">
      <input type="hidden" name="userNo" th:value="${info.userNo}">
      <div>
        <table border="1">
          <tr>
            <th>키</th>
            <td><input type="text" name="infoHeight" th:value="${info.infoHeight}"></td>
          </tr>
          <tr>
            <th>몸무게</th>
            <td><input type="text" name="infoWeight" th:value="${info.infoWeight}"></td>
          </tr>
          <tr>
            <th>골격근량</th>
            <td><input type="text" name="infoSkeletal" th:value="${info.infoSkeletal}"></td>
          </tr>
          <tr>
            <th>체지방률</th>
            <td><input type="text" name="infoBody" th:value="${info.infoBody}"></td>
          </tr>
          <tr>
            <th>기초대사량</th>
            <td><input type="text" name="infoMetabolic" th:value="${info.infoMetabolic}"></td>
          </tr>
        </table>

        <button type="submit">저장</button>

      </div>

    </form>
  </div>
</div>




</body>
</html>