<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyPage</title>
  <link rel="stylesheet" th:href="@{/css/user/myPage.css}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div th:replace="common/nav.html :: nav"></div>

    <div class="all-container">
      <!--개인정보-->
      <div class="main-container">
        <div class="profile-div">
          <!--사진-->
          <div class="profileImage-div">
            <img src="/image/user/프로필기본.png" class="profile-image" th:if="${file == null}">
            <img class="item-main-img profile-image" th:src=
                "@{|/userFile/${#strings.replace(file.userFileSaveDir, '\\', '/')}/${file.userUUID + '_' + file.userFileName}|}"
                 th:if="${file != null}">
          </div>
          <div class="profile">

            <!--개인정보 입력 및 수정-->
            <div class="profileInfo-editor">
              <span th:text="${user.userId}" class="userId"></span>
              <a th:href="@{/user/modify(userNo=${user.userNo})}" class="profileModify" th:if="${info != null}">
                <span class="profile-span profile-modify">프로필 수정</span>
              </a>

              <a class="infoAdd open-information-div" th:if="${info == null}">
                <span class="profile-span profile-add">프로필 입력</span>
              </a>

              <a href="#" class="infoAdd">
                <span class="profile-span" id="userInfo-modify-modal-open">회원정보 수정</span>
              </a>

              <a href="#" class="infoAdd">
                <span class="profile-span user-delete">회원탈퇴</span>
              </a>
            </div>

            <!--개인정보 입력했을때만 출력-->
            <div class="detail-div">
              <!--개인정보 들어갈 div-->
              <div class="detail-information" th:if="${info ne null}">
                <div>
                  <span th:text="${user.userName}"></span>
                </div>
              </div>
              <!--개인정보 입력 안했을때 -->
              <div th:if="${info eq null}">
                <i class="bi bi-person-exclamation noProfile"></i>
                <span>아직 정보를 입력하지 않았습니다. 정보를 입력해주세요</span>
              </div>
            </div>
          </div>
        </div>

        <div class="writing-payment-btn">
          <!--작성한 글 / 구매목록 버튼-->
          <div class="writing-payment-div">
            <div class="writing-me">
              <span>작성한 글</span>
            </div>
            <div class="payment-me">
              <span>구매목록</span>
            </div>
          </div>

          <!--게시물-->
          <div class="mid">
            <div class="commentZone">
              <!--작성한 게시글이 없는 경우-->
              <div th:if="${communityList.size() == 0}" class="no-community">
                <div class="no-commentList">
                  <img src="/image/user/글없음.png" class="no-community-image">
                  <span>작성하신 게시글이 없습니다.</span>
                </div>
              </div>
              <!--작성한 게시글이 있는 경우-->
              <div th:if="${communityList.size() > 0}" class="community-list-div">
                <div th:each="list : ${communityList}" class="community-list">
                  <div  class="community-title">
                    <a th:href="@{@{/user/communityDetail(writingNo=${list.writingNo})}}" th:text="${list.writingTitle}"></a>
                  </div>
                  <div th:text="${list.writingWriter}" class="community-writer"></div>
                  <div th:text="${#strings.substring(list.writingRegDate, 0, 10)}" class="community-regDate"></div>
                  <div th:text="${list.writingReadCount}" class="community-read-count"></div>
                  <div th:text="${list.writingTag}" class="community-tag"></div>
                </div>
              </div>
            </div>
            <div class="productZone">
              <div class="community-list-div">
                <div th:if="${paymentList.size() == 0}" class="no-payment">
                  <div class="no-payment-div">
                    <i class="bi bi-cart-x-fill"></i>
                    <span>구매하신 상품이 없습니다.</span>
                  </div>
                </div>

                <div th:if="${paymentList.size() > 1}">
                  <!--상품정보-->
                  <div>
                    <div class="payment-header">
                      <div class="product-image-div">이미지</div>
                      <div class="product-name-div">상품명</div>
                      <div class="product-price-div">가격</div>
                      <div class="product-qty-div">수량</div>
                      <div class="product-type-div">상품 타입</div>
                      <div class="product-paymentDate-div">구매일</div>
                    </div>
                    <div th:each="i : ${#numbers.sequence(0, paymentList.size()-1)}" class="product-payment-list">
                      <img class="product-image" th:src="@{|/productFile/${productFileList[i].productFileSaveDir}/${productFileList[i].productFileName}|}">
                      <div th:text="${productList[i].productName}" class="payment-productName"></div>
                      <div th:text="${productList[i].price}" class="product-price"></div>
                      <div th:text="${paymentList[i].orderQty}" class="product-qty"></div>
                      <div th:text="${productList[i].productType}" class="product-type"></div>
                      <div th:text="${#strings.substring(paymentList[i].orderDate, 0, 10)}" class="product-date"></div>
                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="profileImage-modify-modal">
      <div class="close-div">
        <i class="bi bi-x closeBtn"></i>
      </div>

      <div class="preview">
        <img src="/image/user/프로필기본.png" class="modify-profileImage" th:if="${file == null}">
        <img class="item-main-img modify-profileImage" th:src=
            "@{|/userFile/${#strings.replace(file.userFileSaveDir, '\\', '/')}/${file.userUUID + '_' + file.userFileName}|}"
             th:if="${file != null}">
      </div>

      <div class="image-add-div">
        <form action="/user/profileImage" method="post" enctype="multipart/form-data">
          <input type="file" hidden="hidden" multiple="multiple" name="file" class="hidden-userProfile">
          <button type="button" class="modify-button">사진추가</button>
          <button type="submit" class="save">저장</button>
        </form>

      </div>
    </div>

    <div class="userDelete-modal">
      <div class="userDelete-modal-sub">
    <!--회원탈퇴 모달-->
        <div class="close-button-div">
          <i class="bi bi-x-lg close-button"></i>
        </div>

        <div class="delete-comment">계정을 삭제하시겠습니까?</div>

        <div class="delete-modal-div">
          <div class="delete-check-button">
            <a th:href="@{/user/userDelete(userNo=${user.userNo})}" class="ok-btn">확인</a>
            <div class="cancel-btn">취소</div>
          </div>
        </div>
      </div>
    </div>

    <!--개인정보 변경 모달 / 비밀번호 변경 , 전화번호 변경 , 주소 변경-->
    <div class="modify-userInfo-modal">
      <form action="/user/userModify" method="post">
       <div  class="modify-userInfo-modal-div">
          <div class="modify-userInfo-modal-header">
            <strong>회원정보 수정</strong>
            <i class="bi bi-x-lg modify-modal-close"></i>
          </div>
          <div class="modify-modal-body">
            <input type="hidden" name="userNo" th:value="${user.userNo}">
            <input type="hidden" name="userRole" th:value="${user.userRole}">
            <div class="modify-id">
              <strong>아이디</strong>
              <input type="text" name="userId" th:value="${user.userId}" readonly="readonly">
            </div>
            <div class="modify-password">
              <strong>비밀번호</strong>
              <input type="password" name="userPassword" placeholder="비밀번호 입력" class="modify-password-input">

              <strong>비밀번호 재입력</strong>
              <input type="password" placeholder="비밀번호 재입력" class="modify-rePassword-input">
              <p class="no-password">비밀번호가 동일하지 않습니다</p>
            </div>
            <div class="modify-name">
              <strong>이름</strong>
              <input type="text" name="userName" th:value="${user.userName}" class="modify-userName-input">
              <p class="no-name">이름에는 특수문자/영어/숫자가 들어갈 수 없습니다.</p>
            </div>
            <div class="modify-phone">
              <strong>전화번호</strong>
              <input type="text" name="userNumber" th:value="${user.userNumber}" class="modify-userNumber-input">
              <p class="no-number-phone">숫자만 입력할 수 있습니다.</p>
            </div>
            <div class="modify-address">
              <strong>주소</strong>
              <input type="text" name="userAddress" th:value="${user.userAddress}">
            </div>
            <div class="modify-age">
              <strong>나이</strong>
              <input type="text" name="userAge" th:value="${user.userAge}" class="modify-userAge-input">
              <p class="no-number-age">숫자만 입력할 수 있습니다.</p>
            </div>
            <div class="modify-mail">
              <strong>성별</strong>
              <div>
                남자 <input type="radio" value="남자" name="userMail" class="singup-input-radio" th:checked="${user.userMail == '남자'}">
                여자 <input type="radio" value="여자" name="userMail" class="singup-input-radio" th:checked="${user.userMail == '여자'}">
              </div>
            </div>
          </div>
          <div class="modify-modal-footer">
            <div>
              <button type="submit" class="modify-modal-button">수정</button>
              <button type="button" class="modify-modal-close modify-modal-closeBtn">취소</button>
            </div>
          </div>

        </div>
      </form>
    </div>
    <!--회원정보 입력 모달-->
    <div class="information-add-div" th:if="${info eq null}">
      <div class="information-add-header">
        <strong>개인정보 입력</strong>
        <i class="bi bi-x-lg information-add-header-closeButton"></i>
      </div>
      <form action="/user/information" method="post">
        <div class="information-div-addZone">
          <div class="add-zone">
            <input type="hidden" name="userNo" th:value="${user.userNo}">
            <div>
              <strong>키</strong>
              <input type="text" name="infoHeight" class="info-input">
              <span class="info-input-text">cm</span>
            </div>
            <div>
              <strong>몸무게</strong>
              <input type="text" name="infoWeight" class="info-input">
              <span class="info-input-text">kg</span>
            </div>
            <div>
              <strong>골격근량</strong>
              <input type="text" name="infoSkeletal" class="info-input">
              <span class="info-input-text">kg</span>
            </div>
            <div>
              <strong>체지방률</strong>
              <input type="text" name="infoBody" class="info-input">
              <span class="info-input-text">%</span>
            </div>
            <div>
              <strong>기초대사량</strong>
              <input type="text" name="infoMetabolic" class="info-input">
              <span class="info-input-text">kcal/day</span>
            </div>
          </div>
          <div class="button-zone">
            <button type="submit" class="info-button info-button-add">작성</button>
            <button type="button" class="info-button info-button-close">취소</button>
          </div>
        </div>
      </form>

    </div>







    <script type="text/javascript" th:src="@{/js/user/myPage.js}"></script>

</body>
</html>