<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/product/css/product.css}">
</head>
<body>
    <main class="product-list-container">
        <div>
            <!--/* 배너 영역 */-->
        </div>
        <div>
            <div class="category-box">
                <!--/* 카테고리 영역 */-->
                <span th:each="typed: ${productTyped}" th:text="${typed.type}"></span>
            </div>
            <div class="item-section" th:each="p : ${productDTOList}">
                <div class="product-item"
                     th:with="dir=${p.productFileList.get(0).productFileSaveDir},
                        fileName=${p.productFileList.get(0).productFileName}">
                    <img th:src="@{|/image/product_register_img/${fileName}|}">
                    <img th:src="@{productFile/유기농1_1.jpg}">
                    <span>[[${fileName}]]</span>
                    <span>[[${#strings.replace(dir,'\','/') + fileName}]]</span>
                </div>

            </div>
        </div>
    </main>
</body>
</html>