<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{/product/css/product.css}" />
</head>
<body>
    <form th:action="@{/product/productRegister}" th:object="${productDTO}" method="post" enctype="multipart/form-data">
        <main class="product-register-container">
            <div class="product-register-box">
                <h1 class="product-management-title">상품등록</h1>

                <div class="input-box">
                    <div>
                        <span class="label">상품변호</span>
                        <span><input type="text" hidden="hidden" th:field="*{productNo}">123</span>
                    </div>
                </div>
                <div class="input-box">
                    <div>
                        <span class="label">상품명</span>
                        <span>
                            <select th:field="*{productType}">
                                <option value="">상품유형</option>
                                <option th:each="typed : ${typed}" th:value="${typed.type}" th:text="${typed.type}">{</option>
                            </select>
                        </span>
                    </div>
                    <div><input type="text" th:field="*{productName}"></div>
                </div>

                <div class="input-box">
                    <span class="label">상품설명</span>
                    <textarea th:field="*{productInfo}"></textarea>
                </div>

                <div class="input-box">
                    <span class="label">상품가격</span>
                    <input type="text" th:field="*{price}">
                </div>

                <div class="button-box">
                    <button id="productImageBtn" type="button">이미지등록</button>
                    <button type="submit" class="">상품등록</button>
                </div>

            </div>
            
            <!-- 버튼 클릭으로 오픈  -->
            <input type="file" id="hiddenInputFile" hidden="hidden" multiple="multiple" name="files">
        </main>
    </form>
<script>
    let error = `[[${notValid}]]`;
    if(error) alert(error);
</script>
<script th:src="@{/product/js/productRegister.js}"></script>
</body>
</html>