<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/product/css/product.css}">
</head>

<body>
    <main class="product-list-container">
        <div class="box">
            <!--/* 배너 영역 */-->
        </div>

        <!--/* 카테고리 영역 */-->
        <div class="category-box">
            <span th:each="typed: ${productTyped}">
                <a th:href="@{/product/productList(productType=${typed.type}, page=, size=)}" th:text="${typed.type}"></a>
            </span>
        </div>

        <!--/* 아이템 영역 */-->
        <div class="item-section">
            <div class="items-wrap" th:each="p : ${productDTOList}">
                <div class="product-item" th:with="dir=${p.productFileList.get(0).productFileSaveDir},
                    fileName=${p.productFileList.get(0).productFileName}">
                    <a th:href="@{/product/productDetail(productNo=${p.productNo})}">
                        <img class="item-main-img" th:src="@{|/productFile/${dir}/${fileName}|}">
                        <div class="item-name">
                            <span th:text="${p.productName}"></span>
                        </div>
                    </a>
                    <div class="item-info">
                        <div>
                            <span>#</span>
                            <span th:text="${#strings.arraySplit(p.productInfo, '#')[0]}"></span>
                        </div>
                        <div>
                            <span>#</span>
                            <span th:text="${#strings.arraySplit(p.productInfo, '#')[#arrays.length(#strings.arraySplit(p.productInfo, '#')) - 1]}"></span>
                        </div>
                    </div>
                    <div class="item-price">
                        <span class="real-price" th:text="${#numbers.formatInteger(p.realPrice,3,'COMMA')+'원'}"></span>
                        <span class="price" th:text="${#numbers.formatInteger(p.price,3,'COMMA')+'원'}"></span>
                        <span class="discount-rate" th:text="${p.discountRate+'%'}"></span>
                    </div>
                </div>
            </div>

        </div>
        <!-- 페이징 영역 -->
        <div th:if="${!productDTOList.isEmpty()}" class="paging-container">
            <span th:text="${productDTOList.totalPages}"></span>
            <span th:text="${productDTOList.totalElements}"></span>
            <ul class="pagination">
                <!-- 이전 -->
                <li class="page-item">
                    <a class="page-link prev" th:href="@{?(page=${productDTOList.number-1}, productType=${param.productType})}"
                        th:classappend="${!productDTOList.hasPrevious} ? 'disabled'">
                        <span>이전</span>
                    </a>
                </li>
                <!-- 파라미터에 productType 값이 있으면 파라미터 전달 -->
                <li th:if="${param.productType}" th:each="page: ${#numbers.sequence(0, productDTOList.totalPages-1)}" class="page-item">
                    <a th:text="${page+1}" class="page-link" th:classappend="${page == productDTOList.number} ? 'active disabled'"
                       th:href="@{?(page=${page},productType=${param.productType})}"></a>
                </li>
                <!-- 파라미터에 productType 값이 없으면 파라미터 전달 X -->
                <li th:unless="${param.productType}" th:each="page: ${#numbers.sequence(0, productDTOList.totalPages-1)}" class="page-item">
                    <a th:text="${page+1}" class="page-link" th:classappend="${page == productDTOList.number} ? 'active disabled'"
                       th:href="@{|?page=${page}|}"></a>
                </li>
                <!-- 다음 -->
                <li class="page-item">
                    <a class="page-link next" th:href="@{?(page=${productDTOList.number+1}, productType=${param.productType})}"
                        th:classappend="${!productDTOList.hasNext} ? 'disabled'">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>

    </main>
</body>
</html>