<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="nav">
    <div class="nav-top-box">
        <div class="nav_logo">헬스하실?</div>


    </div>

<div class="nav_box" >
    <ul class="nav_box_ul">
        <li><i  id="houseIcon" class="bi bi-house-fill nav_box_icon"></i> <a href="/">홈</a></li>
        <li><i class="bi bi-lungs nav_box_icon"></i><a th:href="@{/health/healthplan}">운동계획</a></li>
        <li id="alarm-li"> <i id="heartIcon" class="bi bi-heart nav_box_icon"></i><a>알림</a></li>
        <li><a th:href="@{/food/nutrition}">영양</a></li>
        <li class="login"><a th:href="@{/user/login}">로그인</a></li>
        <li class="logout"><a th:href="@{/user/logout}">로그아웃</a></li>
        <li class="signup"><a th:href="@{/user/signup}">회원가입</a></li>
        <li class="community"><a th:href="@{/user/community}">커뮤니티</a></li>
        <li class="add-product"><a th:href="@{/product/productManagement}">상품등록</a></li>
        <li class="list-product"><a th:href="@{/product/productList}">상품목록</a></li>
        <li class="modify-product"><a th:href="@{/product/productModify}">상품수정</a></li>
        <li class="list-health"><a th:href="@{/health/healthInfoList}">운동리스트</a></li>

        <li class="myPage">
            <img src="/image/user/프로필기본.png" class="profile-image-nav" th:if="${file == null}">
            <img class="item-main-img-nav profile-image-nav" th:src=
                "@{|/userFile/${#strings.replace(file.userFileSaveDir, '\\', '/')}/${file.userUUID + '_' + file.userFileName}|}"
                 th:if="${file != null}">
            <a th:href="@{/user/myPage}">프로필</a>
        </li>
    </ul>
    <script type="text/javascript" th:src="@{/js/common/index.js}"></script>

    <link rel="stylesheet" th:href="@{/css/common/nav.css}" />
    <script type="text/javascript" th:src="@{/js/common/nav.js}"></script>
    </div>
    <div id="alarm-box">
        <div id="alarm-content">
            <div class="alarm_logo">알림</div>

        </div>


    </div>
</div>

</body>
</html>
