<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="nav_box" th:fragment="nav">
    <div class="nav_logo">헬스하실?</div>
    <ul class="nav_box_ul">
        <li><a href="">홈</a></li>
        <li><a href="">링크1</a></li>
        <li><a href="">링크2</a></li>
        <li><a href="">링크3</a></li>
        <li><a href="">링크4</a></li>
    </ul>
    <link rel="stylesheet" th:href="@{/css/common/nav.css}" />
</div>
</body>
</html>
