body{
    margin: 0;
    padding: 0;
}

.main-container{
    width: 1200px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 55%;
    /* width: 100%;
    padding-left: 250px;
    padding-top: 60px;
    box-sizing: border-box; */
}
.sub-container{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.header-div{
    display: flex;
    flex-direction: column;
}
.search_register{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 50px;
}
.search-div{
    border: 1px solid #ccc;
    padding: 5px;
}
.open-register{
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    width: 130px;
    height: 33px;
    box-sizing: border-box;
}
.search-input{
    border: none;
    outline: none;
}
.xBtn{
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.close-div{
    width: 100%;
    text-align: right;
}
.register-modal{
    width: 800px;
    height: 620px;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    display: none;
}
.register-form{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.add-write{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-write{
    width: 700px;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
}
.content-write{
    resize: none;
    width: 700px;
    height: 300px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}
.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.submit-button{
    background-color: #3498db;
    width: 300px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;

}
.submit-button:hover{
    background-color: #5da9dc;
}
.tag-div{
    padding-left: 50px;
}
.file-div{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#tag{
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.file{
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    font-weight: 700;
    font-size: 14px;
}
.file-input{
    display: none;
}
.category-div > strong{
    padding-left: 50px;

}
.category-span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.category-span > span{
    width: 140px;
    height: 35px;
    border: 1px solid #ccc;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-div{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    width: 1000px;
    margin-left: 80px;
}
.body-list{
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted #ccc;
}
.title-zone{
    width: 500px;
}
.title-zone > a{
    text-decoration: none;
    color: black;
}
.writer-zone{
    width: 150px;
    text-align: center;
}
.etc-zone{
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.etc-zone > span:first-child{
    width: 200px;
    display: block;

}
.etc-zone > span:last-child{
    width: 50px;
    display: block;
}
.search-i{
    cursor: pointer;
}
.search-div-value{
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted #ccc;
}