.main-container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 55%;
    width: 800px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
}
.sub-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.info-all-div > div{
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 45px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
.info-all-div > div > strong{
    color: gray;
}

.info-all-div > div > div > input{
    border: none;
    font-size: 18px;
    font-weight: 700;
    width: 15%;
}
.info-all-div > div > div > span{
    font-weight: 700;
    color: gray;
}

.submit-button{
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #3498db;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}