body{
    margin: 0;
    padding: 0;
}

.all-container{
    width: 100%;
}
.main-container{
    padding-left: 250px;
    padding-top: 60px;
    height: 100vh;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.profile-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 30px 30px 30px ;
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
}
.profile-image{
    width: 170px;
    height: 170px;
    margin-left: 30px;
    cursor: pointer;
}
.item-main-img{
    border-radius: 50%;
}
.profileModify , .infoAdd{
    text-decoration: none;  
    color: black;
}
.profile-span{
    padding: 9px;
    border-radius: 9px;
    background-color: #e8e8e8;
    font-weight: 700;
}
.profile{
    padding-left: 100px;
}
.profileInfo-editor{
    display: flex;
    gap: 10px;
}
.profileInfo-editor > span{
    padding-right: 15px;
}
.userInfo-editor-modal{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 1px solid black;
    background-color: #fff;
    display: none;
}
.userId{
    font-weight: 700;
}
.detail-div{
    padding-top: 40px;
    display: none;
}

.noProfile{
    font-size: 25px;
}
.profileImage-modify-modal{
    display: none;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 9px;
    width: 400px;
    height: 500px;
    
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.close-div{
    width: 100%;
    text-align: right;
}
.closeBtn{
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
    margin-right: 5px;
}
.modify-profileImage{
    width: 300px;
    height: 300px;
}
.preview{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.modify-button, .save{
    width: 130px;
    background-color: #3498db;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border: none;
}
.image-add-div{
    padding-top: 50px;
    text-align: center;
}

.info-detail-image{
    width: 50px;
    height: 50px;
}
.detail-information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.detail-information > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 40px;
    cursor: pointer;
    gap: 10px;
    border-radius: 10px;
}
.no-community{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.no-community-image{
    width: 20px;
    height: 20px;
}

.userDelete-modal{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    padding: 10px;
    display: none;
}
.userDelete-modal-sub{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.close-button{
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.close-button-div{
    width: 100%;
    text-align: right;

}
.delete-modal-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.delete-comment{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.delete-check-button{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.delete-check-button > div, .delete-check-button > a{
    width: 50%;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
}
.ok-btn{
    text-decoration: none;
    color: black;
}
.writing-payment-btn{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
.writing-payment-div{
    display: flex;
    flex-direction: row;
}
.writing-me, .payment-me{
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.writing-me>span, .payment-me>span{
    font-weight: 700;
    font-size: 18px;
}
.writing-me{
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.payment-me{
    background-color: #dfdfdf;
    border: 1px solid #ccc;
}
.productZone{
    display: none;
}
.mid{
    margin-top: 30px;
    border-top: 1px solid #ccc;
    width: 1204px;
}
.community-list-div{
    padding: 10px;
}
.community-list{
    display: flex;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
.community-title{
    font-weight: 700;
    width: 600px;
}
.community-title > a {
    text-decoration: none;
    color: black;
}
.community-writer{
    width: 350px;
}
.community-regDate{
    width: 100px;
}
.community-read-count{
    width: 50px;
}
.community-tag{
    width: 100px;
}

.product-payment-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
.product-image{
    width: 60px;
    height: 60px;
}
.payment-productName{
    width: 500px;
}
.no-payment{
    height: 200px;
}
.no-payment-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
}

.modify-userInfo-modal{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.modify-userInfo-modal-div{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modify-userInfo-modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modify-userInfo-modal-header > strong , .modify-userInfo-modal-header > i{
    font-size: 20px;
}
.modify-userInfo-modal-header > i{
    cursor: pointer;
}
.modify-password,.modify-id,.modify-name,.modify-phone,.modify-mail,.modify-address,.modify-age{
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 3px;
}
.modify-password > input,.modify-id > input,.modify-name > input,.modify-phone > input,.modify-address > input,.modify-age > input{
    width: 95%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 7px;
}
.modify-password-input{
    margin-bottom: 6px;
}
.modify-modal-body{
    padding-top: 30px;
    padding-bottom: 30px;
}
.no-password , .no-name ,.no-number-phone , .no-number-age{
    display: none;
    color: red;
}
.modify-modal-footer{
    display: flex;
    justify-content: center;
}
.modify-modal-button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    background-color: #3498db;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
}
.modify-modal-closeBtn{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
}
.modify-userInfo-modal{
    display: none;
}
.no-commentList{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.no-commentList > span{
    font-size: 25px;
}