body{
    margin: 0;
    padding: 0;
}

.all-container{
    width: 100%;
}
.main-container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 25%;
    left: 50%;
    width: 1100px;
    background-color: #fff;
}
.profile-div{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-top: 30px;
}
.profile-image{
    width: 150px;
    height: 150px;
    padding-left: 30px;
    cursor: pointer;
}
.profileModify , .infoAdd{
    text-decoration: none;
    color: black;
}
.profile-span{
    padding: 9px;
    border-radius: 9px;
    background-color: #e8e8e8;
    font-weight: 700;
}
.profile{
    padding-left: 100px;
}
.profileInfo-editor{
    display: flex;
    gap: 10px;
}
.profileInfo-editor > span{
    padding-right: 15px;
}
.userInfo-editor-modal{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 1px solid black;
    background-color: #fff;
    display: none;
}
.userId{
    font-weight: 700;
}
.detail-div{
    padding-top: 40px;
}
.detail-information{

}
.noProfile{
    font-size: 25px;
}
.profileImage-modify-modal{
    display: none;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 9px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.close-div{
    width: 100%;
    text-align: right;
}
.closeBtn{
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    margin-right: 5px;
}
.modify-profileImage{
    width: 300px;
    height: 300px;
}
.preview{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.modify-button{
    width: 300px;
    background-color: transparent;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.image-add-div{
    padding-top: 50px;
    text-align: center;
}