body, h1{
    margin:0;
}
form{
    width:28.125rem;
    margin:0;
}
a {
    text-decoration: none;
}
/* productManagement page */
.product-management-container{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#000;
    color:#000;
}
.product-management-title{
    padding-bottom:1rem;
    border-bottom: 1px solid #000;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.product-management-toggle{
    background-color:#fff;
}
.product-register-box, .product-modify-box{
    width:28.125rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    gap:1.2rem;
}
.input-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:0.5rem;
}
.input-box input, .input-box textarea{
    width:28.125rem;
    padding:1rem;
    box-sizing:border-box;
    border:1px solid #1c1c1c;
    font-size:1.2rem;
}
.input-box input:hover, .input-box input:focus
, .input-box textarea:hover, .input-box textarea:focus{
    outline:1px solid #1c1c1c;
}
.input-box input{
    height:2.1875rem;
}
.input-box textarea{
    height:6.25rem;
    resize:none;
    font-weight:bold;
}
.input-box div{
    display:flex;
    justify-content:space-between
}
.button-box{
    width:28.125rem;
    display:flex;
    justify-content:space-between;
}
.button-box button{
    width:6.25rem;
    height:1.875rem;
    border:none;
/*    border-radius:10px;*/
    cursor:pointer;
    background:#000;
    color:#fff;
}
.button-box button:hover{
    background-color:#C51605;
    transition:0.3s;
}
.label{
    display:flex;
    align-items:center;
}
.label-productNo{
    margin-right:1.5rem;
}

/* 커스텀 셀렉트바 */
.select-wrap{
    position:relative;
    width:8.125rem;
    height:2.1875rem;
    border:1px solid #000;
}
.fa-caret-down{
    position:absolute;
    right:0.625rem;
    top:25%;
    transform: rotate(0deg);
}
select {
    width:100%;
    height:100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    border:none;
    background-color: #fff;
    text-align:center;
    transition:0.3s;
    box-sizing:border-box;
}
/* 선택된 옵션의 스타일링 */
select:focus {
    background-color:rgba(0,0,0,0.9);
    color:#fff;
}
/* 드롭다운 옵션의 스타일링 */
select option {
    font-size: inherit;
}
/* 드롭다운 옵션에 호버 효과 */
select option:hover {
    background-color: #000;
}

.arrowUp{
    transform:rotate(180deg);
}
/*.arrowDown{*/
/*    transform:rotate(0deg);*/
/*}*/


/* 슬라이드 */
.select-management-close{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    justify-content:space-between;
    gap:1.5rem;
    transition:0.7s;
    z-index:1;
}
.select-management-toggle{
    transform:unset;
    position:unset;
    gap:1.2rem;
    top:9.375rem;
}
.menu-button{
    width:15.625rem;
    height:15.625rem;
    background:#e50914;
    color:#fff;
    font-weight:normal;
    cursor:pointer;
    font-size:2rem;
    border:1px solid #000;
    box-shadow:0px 0px 0.625rem 0.1875rem #fff;
    border-radius:10px;
    transition:0.2s;
}
.menu-button-toggle{
    width:9.375rem;
    height:2.8125rem;
    border-radius:0;
    border:none;
    box-shadow:0px 0px 10px 3px #fff;
    background:#000;
    color:#fff;
    font-size:1rem;
}
.menu-button:hover{
    background:#C51605;
}
.management-wrapper{
    position:relative;
    overflow: hidden;
    width:28.125rem;
    padding:1rem;
    transition:1s;
    opacity:0;
}
.management-wrapper-toggle{
    opacity:1;
}
.management-slider{
    display:flex;
    visibility:hidden;
    flex-wrap: nowrap;
    position: relative;
    gap:28.125rem;
}

/* 상품찾기 모달 오픈 버튼 */
#searchModalOpen{
    width: 4.375rem;
    height:1.875rem;
    background-color:#fff;
    border:1px solid #000;
    cursor:pointer;
}
#searchModalOpen:hover{
    background-color:#C51605;
    color:#fff;
}

/* 상품찾기 모달 */
.search-modal-back{
    position:relative;
    position:absolute;
    top:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.9);
    z-index:1;
    opacity:0;
    display: none;
}
.search-modal-back-on{
    display:block;
    opacity:1;
    transition:0.5s;
}
.search-modal{
    position:relative;
    position:fixed;
    top:25%;
    left:50%;
    transform:translate(-50%, -25%);
    display:flex;
    flex-direction:column;
    align-items:center;
    border: 1px solid #D8D8D8;
    border-radius:0.3125rem;
    padding: 3.125rem 1.25rem 2.1875rem 1.25rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
}
.fa-circle-xmark{
    position:absolute;
    top:0.625rem;
    right:0.625rem;
    color:#D8D8D8;
    font-size:1.5rem;
    cursor:pointer;
}
.fa-circle-xmark:hover{
    color: #C51605;
}

.search-box{
    display:flex;
    align-items:center;
}
.search-box input, .seach-box select, .search-box button{
    border:none;
    height:2.1875rem;
    box-sizing:border-box;

}
.search-box input{
    width:24.375rem;     
    padding-left:1.25rem;
    font-size:1rem;
}
.search-box input:focus{
    outline:none;
}
.search-box button{
    border:none;
    width: 6.25rem;;
    cursor:pointer;
    background-color:#e50914;
    color:#fff;
}.search-box button:hover{
    background-color:#C51605;
    transition:0.2s;
}
.seach-box select{
    border:none;
}
.search-list{
    box-sizing: border-box;
    max-height: 28.125rem;
    overflow: auto;
}
#productList{
    margin-top:1.5rem;
    width:38.75rem;
    border-collapse:collapse;
    box-sizing:border-box;
    color: #fff;
    text-align:center;
}
#productList tr:not(:first-child):nth-child(odd){
    background-color: rgba(0, 0, 0, 0.2);
    color:#fff;
    padding-top: 0.5rem;
}
#productList tr:not(:first-child):nth-child(even){
    background-color: rgba(0, 0, 0, 0.3);
    color:#fff;
    padding-top: 0.5rem;
}
#productList tr:not(:first-child):hover{
    background-color: #e50914;
    cursor: pointer;
}
#productList th{
    padding: 0 0 0.625rem 0;
}
#productList td{
    padding: 0.4375rem 0 0.4375rem 0;
    box-sizing:border-box;
}
#productList .pno{
    min-width: 6.25rem;
}
#productList .ptype{
    min-width: 7.5rem;
}
#productList .pname{
    min-width: 6.35rem;
}
#productList .price{
    min-width: 9.375rem;
}

/* productList page */
.product-list-container{
    width: 100%;
}
.box{
    background-color: #7D7C7C;
    width: 100%;
    height: 100px;
}
.category-box{
    position: sticky;
    top: 0px;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height: 4.375rem;
    border: 1px solid #eee;
    background-color: #fff;
}
.category-box span{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.category-box a{
    position: relative;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}
.category-box a::after{
    bottom: 0;
    position: absolute;
    content: "";
    width: 0;
    height: .125rem;
    background-color: #e50914;
}
.category-box a:hover::after{
    width: 100%;
    transition: 0.5s;
}

/* 변수선언 */
:root{
    /* item-section */
    --item-section-width:81.25rem;

}
.item-section{
    margin: 0 auto;
    width: var(--item-section-width);
    display: flex;
    flex-wrap: wrap;
}
.items-wrap{
    width: calc(var(--item-section-width) / 4);
    box-sizing: border-box;
    padding: 0 1rem 2rem 1rem;
}

.product-item{
    border: 1px solid #eee;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.product-item:hover{
    border: 1px solid #e50914;
}
.item-main-img{
    width: 100%;
}
.item-name{
    color:#000;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    /* word-break: keep-all;
    word-wrap: break-word; */
    white-space: nowrap;
}
.item-info{
    letter-spacing: -1px;
    font-size: 0.9rem;
    color: #7D7C7C;
}
.item-name, .item-info, .item-price{
    width: 100%;
    padding-left: 1rem;
    box-sizing: border-box;
}
.item-price{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.real-price{
    font-size: 1.2rem;
}
.price{
    text-decoration: line-through;
}
.discount-rate{
    color: #e50914;
    font-weight: bold;
}