<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HealthPlan</title>
  <link rel="stylesheet" th:href="@{/css/health/healthplan.css}" />
  <!--폰트어썸-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <!--슬라이드 라이브러리-->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
<div class="healthplan-container">
  <div th:replace="common/nav.html :: nav"></div>

  <div class="plan-div">

    <div id='calendar'></div>

  </div>
</div>
<div id="modal" class="modal-overlay" >

    <div class="planlist">
      <div class="modal-window">

        <div class="title">
          <h2>모달</h2>
        </div>

        <div class="close-area">X</div>
        <div class="content">
          <p>가나다라마바사 아자차카타파하</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="exercise-add">
            <i class="fa-solid fa-dumbbell"></i>
            운동 추가
          </button>
        </div>

      </div>
    </div>

    <div class="exercise-select">
      <div class="modal-window">
        <div class="title">
          <h2>운동 선택</h2>
        </div>

        <div class="close-area">X</div>
        <div class="slide-wrapper">
          <div><button class="target-select" data-target="abductors">외전근</button></div>  <!--abductors-->
          <div><button class="target-select" data-target="abs">복근</button></div>  <!--abs-->
          <div><button class="target-select" data-target="adductors">내전근</button></div>  <!--adductors-->
          <div><button class="target-select" data-target="biceps">이두</button></div>  <!--biceps-->
          <div><button class="target-select" data-target="triceps">삼두</button></div>  <!--triceps-->
          <div><button class="target-select" data-target="calves">대퇴근</button></div>  <!--calves-->
          <div><button class="target-select" data-target="cardiovascular system">심혈관계</button></div>  <!--cardiovascular system-->
          <div><button class="target-select" data-target="delts">삼각근</button></div>  <!--delts-->
          <div><button class="target-select" data-target="forearms">팔뚝</button></div>  <!--forearms-->
          <div><button class="target-select" data-target="glutes">둔부</button></div>  <!--glutes-->
          <div><button class="target-select" data-target="hamstrings">햄스트링</button></div>  <!--hamstrings-->
          <div><button class="target-select" data-target="lats">lats</button></div>  <!--lats-->
          <div><button class="target-select" data-target="levator scapulae">견갑거근</button></div>  <!--levator scapulae-->
          <div><button class="target-select" data-target="pectorals">가슴 근육</button></div>  <!--pectorals-->
          <div><button class="target-select" data-target="quads">기복근</button></div>  <!--quads-->
          <div><button class="target-select" data-target="serratus anterior">전거근</button></div>  <!--serratus anterior-->
          <div><button class="target-select" data-target="spine">척추</button></div> <!--spine-->
          <div><button class="target-select" data-target="traps">승모</button></div>  <!--traps-->
          <div><button class="target-select" data-target="upper back">등 위쪽</button></div> <!--upper back-->
        </div>
        <div class="content">
          <input type="hidden" id="target" > <!--운동부위-->
          <input type="hidden" id="offset"> <!--pagenation 번호-->
          <input type="hidden" id="exercise-name-input">     <!--선택한 운동 이름-->
          <div class="exercise-list"></div>
        </div>
        <div class="page-div">
          <button id="next-page">다음 목록</button>
          <button id="previous-page">이전 목록</button>
        </div>

        <div class="modal-footer">
          <button type="button"  class="setBtn">세트 설정</button>
          <button type="button"  class="backBtn">뒤로가기</button>
        </div>

      </div>
    </div>

    <div class="set-setting">
      <div class="modal-window">
        <div class="title">
          <h2>세트 설정</h2>
        </div>

        <div class="close-area">X</div>

        <div class="content">
          <table class="set-table">
            <thead>
            <tr>
              <td>세트</td>
              <td>중량</td>
              <td>개수</td>
              <td>완료 여부</td>
            </tr>
            </thead>
            <tbody>
            <tr class="set-list">
              <td>1</td>
              <td><input type="text" name="Weight"> kg</td>
              <td><input type="text" name="count"></td>
              <td><input type="checkbox" name="check"></td>
            </tr>

            </tbody>
          </table>

        </div>
        <div class="set-adddel">
          <button type="button" class="setAddBtn"><i class="fa-solid fa-plus"></i>세트 추가</button>
          <button type="button" class="setDelBtn"><i class="fa-solid fa-minus"></i>세트 삭제</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="submit">완료</button>
          <button type="button" class="backBtn">뒤로가기</button>
        </div>
      </div>
    </div>

</div>

  <!-- jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- fullcalendar CDN -->
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
  <!-- fullcalendar 언어 CDN -->
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
  <!-- slide 라이브러리 js -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script type="text/javascript" th:src="@{/js/health/healthplan.js}"></script>

</body>
</html>