

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    margin: 0;
    background-color: beige;
}
.nav-top-box{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 9999;
    background-color :white;
    box-shadow: 0px 0px 1px;
   
}
#alarm-box{
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: -300px;
    transform: translateX(0px);
    width: 400px;
    height: 100vh;
    background-color: white;
    color: black;
    overflow-y: scroll;
    transition: 0.3s ease;
    z-index: 9997;
    -ms-overflow-style:scrollbar;

}
.nav_box{
   padding-top: 60px;
z-index: 9998;
 position: fixed;
 width: 250px;
 height: 100vh;
 left: 0;
 top: 0;
 background-color: white;
 transition: all 0.3s ease;
 box-shadow: 0px 0px 1px;
}
.nav_box_ul{
    padding: 0 8px;
}
.nav_box_ul>li{
    position: relative;
    list-style: none;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 5px 0;
    border-radius: 10px;
    height: 40px;
    margin-top : 10px;
}
.nav_box_ul>li:hover{
    background-color: #e8e8e8;
    cursor: pointer;

}
.nav_box_ul >li>a{
    text-decoration: none;
    color: black;
    line-height: 45px;
    padding-left: 60px;
}
.nav_logo{

    color: black;
    width: 150px;
    font-size: 30px;
    margin-left: 30px;
    cursor : pointer;
}
.nav_box_icon{
    position: absolute;
    color: black;
    font-size: 26px;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    }
.alarm_logo{
  color: black;
    width: 150px;
    padding: 30px 0;
    font-size: 30px;
    margin-left: 30px;
}
#alarm-content{
    height:200%;
}
#heartIcon{
    transform: translateY(-41%);
}
.profile-image-nav, .item-main-img-nav{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}
.item-main-img-nav{
    border-radius: 50%;
}
.myPage{
    display: flex;
    align-items: center;
}